<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Node.JS DemoApp</title>
</head>
<body>
<section class='container'>
          <hgroup>
            <h1>Welcome this is a sample Node.js application</h1>
			</h2> - Page view count is stored in mongodb database</h2>
          </hgroup>
        <div class="row">
          <section class="col-xs-12 col-sm-6 col-md-6">
                <h2>Page View Information</h2>
                <p>View count:
                <% if (pageCountMessage) { %>
                   <span class="code" id="count-value"><%=pageCountMessage%></span>
                   </p>
                    <div class="code"><h3>DB Connection Info:</h3>
                      <table style='margin-left: 20px'>
                          <tr><td>Type:</td><td><%= dbInfo.type %></td></tr>
                          <tr><td>URL:</td><td><%= dbInfo.url %></td></tr>
                      </table>
                    </div>
                <% } else { %>
                   <span class="code" id="count-value">No database configured</span>
                   </p>
                <%} %>
          </section>
        </div>
</section>
</body>
</html>
